*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
    body{
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}
h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}
li{font-size: 1.25em; }

button{
    font-size: 1.6em;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: aliceblue;
    background-color: rgb(69, 105, 167);
}
button:hover{
    background-color:rgb(89, 124, 185);
}
.color-acento{
    color: rgb(96, 132, 196);
}

.container{
    max-width: 1400px;
    margin: auto;
}
header{
    background-color: rgb(209, 224, 251);
}
header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(96, 132, 196);
    font-size: 1.6em;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
    
}
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
header a:hover{
    color: rgb(61, 96, 156);
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("sahumerioaromanza.jpeg");
    background-position: center center;
}
#hero h1{
    color: white;
}
#hero button{
    font-size: 1.75em;
}

#somosaromasjl .container{
    text-align: center;
    padding: 200px 12px;
}

#planes-afut{
    background-color: rgb(88, 88, 88);
    color: white;
    text-align: center;
}
#planes-afut .container{
   padding: 100px 0px;
}
#planes-afut h2{
    margin-top: 0;
    font-size: 3em;
}

#planes-afut p{
    display: none;
}
#planes-afut .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}


.carta:first-child{
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
) 
    ,url("sahumerios.jpg"); 
    background-position: center center;
    background-size: cover;
}

.carta:nth-child(2){
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
) 
    ,url("velas.jpeg"); 
    background-position: center center;
    background-size: cover;
}

.carta:nth-child(3){
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
) 
    ,url("budas.jpeg"); 
    background-position: center center;
    background-size: cover;
}

.carta:nth-child(4){
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
) 
    ,url("conitos.jpeg"); 
    background-position: center center;
    background-size: cover;
}

.carta:nth-child(5){
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
) 
    ,url("escencias.jpeg"); 
    background-position: center center;
    background-size: cover;
}

.carta:nth-child(6){
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
) 
    ,url("lamparasal.jpeg"); 
    background-position: center center;
    background-size: cover;
}
#caracteristicas .container{
    text-align: center;
    padding: 250px 12px;
}
#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;

}

#conocenos{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: black;
    color: white;
    height: 80vh;
}
#final h2{
    font-size: 9vw;
}

#conocenos button{
    font-size: 5vw;
}

footer{
    background-color: aliceblue;
}
footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content:center;
    align-items: flex-end;
}
/*hasta aca version mobile*/
@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
    #hero h1{
        font-size: 5em;
    }
    #somosaromasjl .container{
        display: flex;
        justify-content: space-evenly;
    }
    #somosaromasjl .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #somosaromasjl h2{
        margin-top: 0px;
    }
#somosaromasjl .img-container{
    background-image:url("sahumerios.jpg");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px;
    border-radius: 15px;
}

#planes-afut .programas{
    display: flex;
    justify-content: center;
}
#planes-afut .programas p{
    display: block;
    margin-bottom: 30px;
}
#planes-afut h2{
    font-size: 4em;
}
#planes-afut h3{

    margin-top: 0;
}
#planes-afur .carta{
    padding: 50px;
    background-size: 100% 150px;
    background-repeat: no-repeat;
    background-position-y: 0;
    background-color: rgba(50,50,50,1);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}
.carta:first-child{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url ("sahumerios.jpeg")
}
.carta:nth-child(2){
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
) 
    ,url("velas.jpeg"); 
}

.carta:nth-child(3){
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
) 
    ,url("budas.jpeg"); 
}

.carta:nth-child(4){
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
) 
    ,url("conitos.jpeg"); 
}

.carta:nth-child(5){
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
) 
    ,url("escencias.jpeg"); 
}

.carta:nth-child(6){
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
) 
    ,url("lamparasal.jpeg"); 
}

#caracteristicas .container{
    text-align: initial;
}

#caracteristicas ul{
    margin-left: 100px;
}

#final h2{
    font-size: 5em;
}

#final button{
    font-size: 2em;
}

footer .container{
    justify-content: flex-end;
}
}

@media (min-width: 1200px) {
#caracteristicas{
    background-position-x: calc(100vw - 800px);
}


}
